<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Classes</title>
</head>
<body>
    <h1>Classes Home</h1>

    <h3>Registered Classes</h3>

    <style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
    </style>

    <table>
        <th>Sport</th>
        <th>Coach</th>
        <th>Time</th>
        {% for line in registeredClasses %} <!registeredClasses not configured yet>
            <tr>
            <td>{{line.sportID}}</td>
            <td>{{line.coachID}}</td>
            <td>{{line.time}}</td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <h3>Enroll In Class</h3>
    <div class="search-container">
        <form action="/enrollInClass">
            <input type="text" name="classToEnroll" placeholder="Sport Name" required>
            <button type="submit">Enroll</button>
        </form>
    </div>
    <br>
    <h3>Drop Class</h3>
    <div class="search-container">
        <form action="/dropClass">
            <input type="text" name="classToDrop" placeholder="Sport Name" required>
            <button type="submit">Drop</button>
        </form>
    </div>

</body>
</html>