<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Equipments</title>
</head>
<body>
    <h1>Equipments</h1>

    <h3>Checked Equipments</h3>

    <style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
    </style>

    <table>
        <th>ID</th>
        <th>Name</th>
        {% for line in checkedEquipments %} 
            <tr>
            <td>{{line.ID}}</td>
            <td>{{line.Name}}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Checkout Equipment</h3>
    <div class="search-container">
        <form action="/checkoutEquipment">
       
            <label for="equipments">Equipment:</label>
            <select id="equipments" name="equipments">
            {% for line in equipments %}
                <option value="{{line.name}}">{{line.name}}</option>
            {% endfor %}
            </select>
            <button type="submit">Checkout</button>
        </form>
    </div>

    <h3>Return Equipment</h3>
    <div class="search-container">
        <form action="/returnEquipment">
            <input type="text" name="equipmentToReturn" placeholder="Equipment Name" required>
            <button type="submit">Return</button>
        </form>
    </div>
    <br>
	<br>
	<a href="/athlete">Go Back</a>
</body>
</html>