<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Roster</title>
</head>
<body>
    <h3>Roster</h3>

    <style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
    </style>

    <table>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        {% for line in athletes %} <!athletes not configured yet>
            <tr>
            <td>{{line.username}}</td>
            <td>{{line.firstName}}</td>
            <td>{{line.lastName}}</td>
            </tr>
        {% endfor %}
    </table>


    <br>
	<br>
	<a href="/coach">Go Back</a>
</body>
</html>